:root {
    --primary-light: #e0e0e0;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

body {
    font-family: sans-serif;
    background-color: var(--primary-light);
}

::selection {
    background: var(--primary-light);
}

.checkboxouter {
    border-radius: 14px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 5px 5px 11px #bebebe, -5px -5px 11px #ffffff;
    margin: 10px;
    padding: 4px;
    height: 50px;
    text-align: center;
}

.chat {
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 150px;
    overflow-y: scroll;
    background: var(--primary-light);
}

.filters {
    /* background: red; */
    background: var(--primary-light);
    position: absolute;
    width: 180px;
    right: 0px;
    bottom: 0px;
    top: 5%;
}

.streamerEntry {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 5%;
    top: 0px;
    text-align: center;
}

.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 5%;
    width: 5%;
}